.App {
  text-align: center;
  background-image: linear-gradient(black , rgb(0, 52, 94));
}

.App-logo {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  z-index: 1;
}

.App-abajo-logo {
  position: absolute;
  height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  z-index: 2;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header1 {
    color: rgb(64, 175, 219);
    padding-bottom: .5rem!important;
    font-style: normal;
    font-weight: 1;
    word-break: break-word;
    word-wrap: break-word;
    font-size: 450%;
    font-family: "msyi";
} 


.header2 {
  color: rgb(181, 220, 252);
  padding-bottom: .5rem!important;
  font-style: normal;
  font-weight: 1;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 250%;
  font-family: msyi;
} 

.col1 {
  color: rgb(255, 255, 255);
  font-weight: 1;
  font-size: 200%;
  font-family: msyi;
  font-style: italic;
} 

.contendor{
  display: flex;
  justify-content: space-around;
}

.resize {
  width: 40px;
  height: auto;
}

.resizeDatos{
  width: 250px;
  height: auto;
}

.resizeSelfie{
  width: 250px;
  height: auto;
}

.resizeDNI{
  width: 260px;
  height: auto;
}

.resizeValidamos{
  width: 260px;
  height: auto;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
