.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  z-index: 1;
}

.App-abajo-logo {
  position: absolute;
  height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  z-index: 2;
}

.rubik {
  font-family: 'Rubik', sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header1 {
    color: rgb(68, 171, 255);
    padding-bottom: .5rem!important;
    font-style: normal;
    font-weight: 1;
    word-break: break-word;
    word-wrap: break-word;
    font-size: 450%;
    font-family: 'Rubik', sans-serif;
} 


.header2 {
  color: rgb(181, 220, 252);
  padding-bottom: .5rem!important;
  font-style: normal;
  font-weight: 1;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 250%;
  font-family: 'Rubik', sans-serif;
} 

.col1 {
  color: rgb(255, 255, 255);
  padding-bottom: .5rem!important;
  font-style: normal;
  font-weight: 1;
  font-size: 250%;
  font-family: 'Rubik', sans-serif;
  width: 50%;
  height: 100%;
  font-style: italic;
} 

.contendor{
  display: flex;
  justify-content: space-around;
}

.col2 {
  position: relative;
  color: rgb(255, 255, 255);
  padding-bottom: .5rem!important;
  font-style: normal;
  font-weight: 1;
  font-size: 250%;
  font-family: 'Rubik', sans-serif;
  width: 150%;
  top: -97px;
  font-style: italic;
} 


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
