.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  z-index: -1;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
